$theme-colors: (
    "primary": #5b7d5a,
    "info": #018989,
);

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item.active{
    color: var(--primary) !important;
}
html {
    background: var(--light);
}
@import "preLoader";
@import "~startbootstrap-sb-admin-2/scss/sb-admin-2";
